@import "./base.css";

#app {
  width: 100%;
  height: 100vh; /* 화면 높이 전체 */
  margin: 0 auto;
  padding: 0; /* 패딩 제거 */
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* 전체 화면에서 스크롤을 숨김 */
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* 수평 정렬 */
  align-items: center; /* 수직 정렬 */
}
